*
/* title font size */

.tit-4xl {
  font-size: 60px;
}

.tit-2xl {
  font-size: 36px;
}

.tit-1xl {
  font-size: 30px;
}

.tit-xl {
  font-size: 28px;
}

.tit-lg {
  font-size: 24px;
}

.tit-md {
  font-size: 21px;
}

.tit-sm {
  font-size: 18px;
}

.tit-xs {
  font-size: 16px;
}


/* text font size */

.txt-3xl {
  font-size: 29px;
}

.txt-2xl {
  font-size: 21px;
}

.txt-lg {
  font-size: 18px;
}

.txt-md {
  font-size: 16px;
}

.txt-sm {
  font-size: 14px;
}

.txt-xs {
  font-size: 12px;
}

.txt-2xs {
  font-size: 10px;
}

.text-cap {
  text-transform: capitalize;
}

.text-sm-cap {
  font-variant: small-caps;
}

#font-gfs {
  font-family: "GFS Didot", sans-serif;
}

.font-mont {
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

.font-gfs {
  color: #000000;
  font-family: 'GFS Didot', serif;
}

.font-ropa {
  color: #000000;
  font-family: 'Ropa Sans', sans-serif;
}

.font-robo {
  color: #000000;
  font-family: 'Roboto Slab', serif;
}

.font-ardau {
  color: #000000;
  font-family: 'Architects Daughter', cursive;
}

.font-montalt{
  color: #000000;
  font-family: 'Montserrat Alternates', sans-serif;
}
.txt-rl {
  text-align: right;
}

.text-down {
  writing-mode: vertical-rl;
}

input[type=password] {
  font-family: 'Montserrat', dotum, sans-serif;
}

.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

.pink {
  color: #EB8F90;
}

.pink-drk {
  color: #B66064;
}

.pink-lgt {
  color: #F3BABB;
}

/* arrange */

.parent-rel {
  position: relative;
}

.child-ver-top {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.child-ver-cent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.child-ver-start {
  position: absolute;
  top: 0;
  left: 0;
}

.child-ver-end {
  position: absolute;
  top: 0;
  right: 0;
}

.child-ver-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}


/* border color */

.input-border {
  border: 2px solid #000000;
}

/* lock page */

.gift-icon {
  width: 104px;
  height: 104px;
  background-image: url("source/icons/birthday_box.svg");
}

/* nav */

.cover-nav-list {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-transform: capitalize;
}

.cover-nav-list-icon {
  background-image: url("../source/icons/close_black.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

/* cover page */

#lock {
  display: none;
}

/* #cover{display: none;} */

.image-cover {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* gallery cover */

.more-btn {
  border: 3px solid #ffffff;
  border-radius: 50px;
}

/* copy */

.copyright {
  margin-bottom: 16px;

  text-align: center;
  color: #EB8F90;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;

}
